<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>InstAvengers</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="header">
        <div class="logo-container">
          <img class="logo" src="/images/87835.png">
        </div>
        <div class="title-container">
          <span>InstAvengers</span>
        </div>
        <a href="http://localhost:3000/newpost">
          <div class="add-container">
            <img class="add" src="/images/add.png">
          </div>
        </a>
    </div>
    <div class="maincontainer">  
	   {{#each posteo}}
        <div class="user">
          <div class="ppic-container">
            <img class="ppic" src="/images/profile.jpg">
          </div>
          <div>
            <span class="username">SpiderGwen</span>
          </div>
        </div>
        <div class="post">
          <div class="imgcontainer">
            <img src='{{this.foto}}'/>
          </div>
          <div class="texto-container">  
            <img class="like nocolor" data-heart='{{this.id}}' src="/images/noliked.png">
            <img class="like color hide" data-heart='{{this.id}}' src="/images/liked.png">
            <span class="heart">{{this.likes}}</span>
            <span>{{this.title}}</span>
          </div>
        </div>  
      {{/each}}
    </div> 
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="javascripts/game.js"></script>
  </body>
</html>